* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
:root {
    --gernal-font: 'Roboto';
    --full-height: 100vh;
    --dark-bg: rgb(32, 32, 32);
    --dark-color: rgb(192, 192, 192);
    --light-bg: rgb(221, 221, 221);
    --light-color: rgb(36, 35, 35);
    --sidebar-bg: rgb(32, 32, 32);
    --heading1: rgb(206, 206, 206);
    --heading1-light: rgb(29, 29, 29);
    --sidebar-bordercolor: rgb(44, 44, 44);
    --guild-detail-bg: rgb(36, 34, 34);
    --sidebar-bordercolor-light: rgb(247, 239, 239);
}
body {
    display: flex;
    justify-content: right;
    background-color: white;
    color: black;
    font-family: var(--gernal-font);
}
.container {
    width: 85vw;
    min-height: var(--full-height);
    background-color: var(--dark-bg);
    color: var(--dark-color);
    position: relative;
}
header {
    padding-top: 2em;
}
h1 {
    color: var(--heading1);
}
header h1 {
    font-family: 'Merienda';
    color: transparent;
    background-image: linear-gradient(to left ,rgb(235, 153, 2) ,rgb(226, 77, 58));
    background-clip: text;
}
.logo {
    width: 10em;
}
.side-bar {
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--sidebar-bg);
    width: 15vw;
    font-size: 1.5em;
    font-family: 'Caprasimo';
    text-shadow: 3px 3px rgb(27, 27, 27);
}
.side-bar div {
    flex-grow: 1;
    cursor: pointer;
    border-top: 2px solid var(--sidebar-bordercolor);
    border-right: 5px solid var(--sidebar-bordercolor);
    border-left: 6px solid var(--sidebar-bordercolor);
}
.side-bar div:hover {
    background-color: rgb(43, 42, 42);
    font-size: 1.2em;
}
main {
    padding: 6.5em 0px;
    width: 69%;
    margin: auto;
}
main p {
    font-size: 1.1em;
}
.img {
    width: 8em;
    animation: motion;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes motion {
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
    
}
.img5 {
    top: 1em;
    left: 13em;
}
.img2 {
    top: 1em;
    right: 1.6em;
}
.img3 {
    top: 30em;
    right: 1.6em;
}
.img4 {
    top: 30em;
    left: 13em;
}
.intro {
    padding-bottom: 1em;
}
.intro-part p{
    padding-right: 5em;
}
.intro-part {
    margin-bottom: 12em;
}
.story-part{
    column-gap: 5em;
    margin-bottom: 12em;
}
.fight-part {
    column-gap: 5em;
}
.images {
    height: 10em;
}

.gallery-img {
    width: 70em;
}
.main-img {
    width: 70em;
    height: 98px;
}
.fight-img {
    width: 103em;
    height: 83px;
}
.character-info1 {
    max-width: 11em;
    height: 13em;
}
.character-info2 {
    width: 10em;
    height: 13em;
}
.info {
    padding-right: 5em;
    padding-bottom: 5em;
}
.space-blow {
    padding-bottom: 5em;
}
.note {
    background-color: rgb(48, 32, 32);
    margin-bottom: 3em;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 3em;
    color: rgb(51, 49, 49);
    border: 2px solid rgb(90, 33, 33);
}
.guild {
    padding-bottom: 12em;
}
.card-container {
    column-gap: 2em;
    row-gap: 11em;
}
.guild-detaills {
    background-color: var(--guild-detail-bg);
    position: relative;
    height: 33em;
    border-radius: 1em;
    flex-direction: column;
    padding: 2em;
    border: 5px solid rgb(39, 39, 39);
}
.guild-img {
    /* margin-top: -13em; */
    width: 18em;
    position: absolute;
    top: -10.2em;
}
.name-guild {
    margin-top: 1.7em;
    margin-bottom: 1em;
}
.guild2 {
    width: 10em;
}
.guild3 {
    top: -6em;
}
.guild4 {
    top: -5em;
}
.guild5 {
    top: -8em;
}
.guild8{
    top: -7.5em;
}
.guild9 {
    top: -12em;
}
.guild-detaill10 {
    height: 40em;
}
.guild6 {
    top: -10em;
    width: 15em;
}
.theme {
    position: fixed;
    right: 1em;
    top: 40%;
    padding: 0px 0.9em;
    padding-top: 1em;
    padding-bottom: 3.5em;
    border-radius: 50%;
}
.dark-mode {
    position: fixed;
    right: 3.5em;
    top: 20.28em;
    opacity: 1;
    accent-color: black;
    z-index: 3;
}
.light-mode {
    position: fixed;
    right: 3.5em;
    top: 21.8em;
    z-index: 3;
    accent-color: black;
}
.mode {
    position: fixed;
    right: 4.8em;
    top: 20em;
}
#light-mode:checked ~.container{
    background-color: var(--light-bg);
    color: var(--light-color);
}
#light-mode:checked ~.container .side-bar {
    background-color: var(--light-bg);
    color: var(--light-color);
    text-shadow: 3px 3px rgb(253, 251, 251);
}
#light-mode:checked ~.container .side-bar div {
    border-top: 2px solid var(--sidebar-bordercolor-light);
    border-right: 5px solid var(--sidebar-bordercolor-light);
    border-left: 6px solid var(--sidebar-bordercolor-light);
}
#light-mode:checked ~.container .side-bar div:hover {
    background-color: var(--sidebar-bordercolor-light);
    font-size: 1.2em;
}
#light-mode:checked ~ .container main h1 {
    color: var(--heading1-light);
}
#light-mode:checked ~ .container main .note {
    background-color: rgb(253, 202, 202);
    border: 3px solid rgb(245, 226, 226);
}
#light-mode:checked ~ .container main .guild-detaills{
    background-color: rgb(243, 242, 242);
    border: 5px solid rgb(223, 219, 219);
}