* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
:root {
    --gernal-font: 'Roboto';
    --full-height: 100vh;
    --dark-bg: rgb(32, 32, 32);
    --dark-color: rgb(192, 192, 192);
    --light-bg: rgb(221, 221, 221);
    --light-color: rgb(36, 35, 35);
    --sidebar-bg: rgb(32, 32, 32);
    --heading1: rgb(206, 206, 206);
    --heading1-light: rgb(29, 29, 29);
    --sidebar-bordercolor: rgb(44, 44, 44);
    --guild-detail-bg: rgb(36, 34, 34);
    --sidebar-bordercolor-light: rgb(247, 239, 239);
    --trailer-link-color: rgb(226, 54, 54);
    --trailer-link-hover-bg: rgb(56, 56, 56);
    --trailer-link-bg: rgb(48, 48, 48);
    --dark-season-menu: rgb(51, 51, 51);
    --my-list-color-dark: rgb(94, 94, 94);
    --linear-gradient: linear-gradient(to left ,rgb(235, 153, 2) ,rgb(226, 77, 58));
    --linear-gradient1: linear-gradient(to right ,rgb(235, 153, 2) ,rgb(226, 77, 58));
}
body {
    display: flex;
    justify-content: right;
    background-color: white;
    color: black;
    font-family: var(--gernal-font);
}
.container {
    width: 85vw;
    min-height: var(--full-height);
    background-color: var(--dark-bg);
    color: var(--dark-color);
    position: relative;
}
header {
    padding-top: 2em;
}
h1 {
    color: var(--heading1);
}
header h1 {
    font-family: 'Merienda';
    color: transparent;
    background-image: var(--linear-gradient);
    background-clip: text;
    
}
video {
    border-radius: 1em;
    margin-top: 2em;
}
header h1:hover {
    transform: scale(1.1);
}
.logo {
    width: 10em;
}
.side-bar {
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--sidebar-bg);
    width: 15vw;
    font-size: 1.5em;
    font-family: 'Caprasimo';
    text-shadow: 3px 3px rgb(27, 27, 27);
}
.side-bar div {
    flex-grow: 1;
    cursor: pointer;
    border-top: 2px solid var(--sidebar-bordercolor);
    border-right: 5px solid var(--sidebar-bordercolor);
    border-left: 6px solid var(--sidebar-bordercolor);
}
.side-bar div:hover {
    background-color: rgb(43, 42, 42);
    font-size: 1.2em;
}
main {
    padding: 3.5em 0px;
    width: 69%;
    margin: auto;
}
main p {
    font-size: 1.1em;
}
.img {
    width: 8em;
    animation: motion;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes motion {
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
    
}
.img5 {
    top: 1em;
    left: 13em;
}
.img2 {
    top: 1em;
    right: 1.6em;
}
.img3 {
    top: 30em;
    right: 1.6em;
}
.img4 {
    top: 30em;
    left: 13em;
}
.intro {
    padding-bottom: 1em;
}
.intro-part p{
    padding-right: 5em;
}
.intro-part {
    margin-bottom: 5em;
}
.story-part{
    column-gap: 5em;
    margin-bottom: 5em;
}
.fight-part {
    column-gap: 5em;
}
.images {
    height: 10em;
}

.gallery-img {
    width: 70em;
}
.main-img {
    width: 70em;
    height: 98px;
}
.fight-img {
    width: 103em;
    height: 83px;
}
.character-info1 {
    max-width: 11em;
    height: 13em;
}
.character-info2 {
    width: 10em;
    height: 13em;
}
.info {
    padding-right: 5em;
    padding-bottom: 5em;
}
.space-blow {
    padding-bottom: 5em;
}
.note {
    background-image: var(--linear-gradient1);
    margin-bottom: 3em;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 3em;
    border: 2px solid rgb(90, 33, 33);
}
.note h1 {
    color: rgb(228, 228, 228);
}
.guild {
    padding-bottom: 12em;
}
.card-container {
    column-gap: 2em;
    row-gap: 11em;
}
.guild-detaills {
    background-color: var(--guild-detail-bg);
    position: relative;
    height: 33em;
    border-radius: 1em;
    flex-direction: column;
    padding: 2em;
    border: 5px solid rgb(39, 39, 39);
}
.guild-detaills:hover {
    transform: scale(1.1);
}
.guild-img {
    /* margin-top: -13em; */
    width: 18em;
    position: absolute;
    top: -10.2em;
}
.name-guild {
    margin-top: 1.7em;
    margin-bottom: 1em;
}
.guild2 {
    width: 10em;
}
.guild7 {
    width: 14em;
    top: -7.7em;
}
.guild3 {
    top: -6em;
}
.guild4 {
    top: -5em;
}
.guild5 {
    top: -8em;
}
.guild8{
    top: -7.5em;
}
.guild9 {
    top: -12em;
}
.guild-detaill10 {
    height: 40em;
}
.guild6 {
    top: -9.6em;
}
.theme {
    position: fixed;
    right: 1em;
    top: 40%;
    padding: 0px 0.9em;
    padding-top: 1em;
    padding-bottom: 3.5em;
    border-radius: 50%;
    color: transparent;
    background-image: var(--linear-gradient);
    background-clip: text;
    animation: changing-color;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes changing-color {
    100% {
        background-image: var(--linear-gradient1);
    }
    
}
img:hover {
    transform: scale(1.1);
}
.dark-mode {
    position: fixed;
    right: 3.5em;
    top: 20.28em;
    opacity: 1;
    accent-color: black;
    z-index: 3;
}
.light-mode {
    position: fixed;
    right: 3.5em;
    top: 21.8em;
    z-index: 3;
    accent-color: black;
}
.mode {
    position: fixed;
    right: 4.8em;
    top: 20em;
}
#light-mode:checked ~.container{
    background-color: var(--light-bg);
    color: var(--light-color);
}
#light-mode:checked ~.container .side-bar {
    background-color: var(--light-bg);
    color: var(--light-color);
    text-shadow: 3px 3px rgb(253, 251, 251);
}
#light-mode:checked ~.container .side-bar div {
    border-top: 2px solid var(--sidebar-bordercolor-light);
    border-right: 5px solid var(--sidebar-bordercolor-light);
    border-left: 6px solid var(--sidebar-bordercolor-light);
}
#light-mode:checked ~.container .side-bar div:hover {
    background-color: var(--sidebar-bordercolor-light);
    font-size: 1.2em;
}
#light-mode:checked ~.container .side-bar select:hover {
    background-color: var(--sidebar-bordercolor-light);
    font-size: 0.9em;
}
#light-mode:checked ~ .container main h1 {
    color: var(--heading1-light);
}
#light-mode:checked ~ .container main .note {
    background-color: rgb(253, 202, 202);
    border: 3px solid rgb(245, 226, 226);
}
#light-mode:checked ~ .container main .guild-detaills{
    background-color: rgb(243, 242, 242);
    border: 5px solid rgb(223, 219, 219);
}
#light-mode:checked ~ .container main .link-trailer {
    background-color: rgb(190, 190, 190);
}
#light-mode:checked ~ .container main .link-trailer:hover {
    background-color: rgb(179, 179, 179);
}
.new-release-heading {
    width: 100%;
    margin-bottom: -3em;
}
.new-release-info {
    margin-bottom: 3em;
}
.new-release-info p{
    width: 29em;
    margin-right: 2em;
}
.new-release-image {
    width: 10em;
    height: 12em;
}
.margin-top {
    margin-top: -3.5em;
}
.timmer {
    width: 100%;
    color: transparent;
    background-image: var(--linear-gradient);
    background-clip: text;
}
.info-heading {
    margin-top: 2em;
}
.trailer-detaill {
    margin-bottom: 1em;
}
.link-container {
    width: 100%;
 }
.season-container {
    gap: 5em;
}
.season-heading {
    /* margin-top: -4em; */
    margin-bottom: 2em;
}
#light-mode:checked ~ .container main .seasons-detaill {
    border: 3px solid var(--sidebar-bordercolor-light);
}
#light-mode:checked ~ .container main .My-list {
    border: 3px solid var(--sidebar-bordercolor-light);
}
.seasons-detaill {
    min-height: 25em;
    border: 3px solid var(--dark-season-menu);
    border-radius: 1em;
    padding: 3em;
}
.seasons-detaill h1{
    margin-bottom: 1em;
}
.My-list {
    min-height: 15em;
    border: 3px solid var(--dark-season-menu);
    border-radius: 1em;
    padding: 3em;
}
.season-name-container,.season-name-list-container {
    flex-grow: 1;
    width: 100%;
    position: relative;
}
.season-name-container {
    gap: 2em;
}
.season-img {
    width: 21em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin-bottom: 1em;
    /* height: 12em; */
}
.season-img:hover {
    transform: scale(1);
}
.season-name {
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-top: 2em;
    margin-bottom: 2em;
}
#light-mode:checked ~ .container main .season-name-list {
    border: 3px solid var(--sidebar-bordercolor-light);
}
.season-name-list {
    border: 3px solid var(--sidebar-bordercolor);
    border-radius: 1em;
    height: 20em;
    text-align: center;
    position: relative;
}
.add-watch-list-btn,.watch-btn{
    padding: 0.5em 2em;
    border-radius: 0.2em;
    cursor: pointer;
    background-image: var(--linear-gradient);
    color: rgb(230, 230, 230);
}
.add-watch-list-btn {
    position: absolute;
    bottom: 1em;
}
.add-watch-list-btn:hover {
    background-image: var(--linear-gradient1);
}
.watch-btn:hover {
    background-image: var(--linear-gradient1);
    transform: scale(1.1);
}
.added-list {
    background-image: var(--linear-gradient);
    background-clip: text;
    color: transparent;
    padding: 0.4em 4em;
    border-radius: 0.2em;
    position: absolute;
    bottom: 1em;
}
.empty-p {
    color: var(--my-list-color-dark);
    height: 100%;
    align-content: center;
    text-align: center;
}
.name-s {
    text-decoration-line:line-through;
    color: rgb(78, 78, 78);
}
.dull-btn {
    background-color: transparent;
    background-image: var(--linear-gradient);
    background-clip: text;
    color: transparent;
    padding: 0.5em 1.5em;
}
#light-mode:checked ~ .container main .foam {
    border: 3px solid var(--sidebar-bordercolor-light);
}
.foam {
    width: 100%;
    min-height: 10em;
    padding: 3em;
    border: 3px solid var(--sidebar-bordercolor);
    border-radius: 1em;
    position: relative;
}
#light-mode:checked ~ .container main .foam .input {
    color: rgb(31, 31, 31);
    background-color: var(--sidebar-bordercolor-light);
}
.input {
    background-color: var(--sidebar-bordercolor);
    padding: 0.3em 1em;
    color: rgb(224, 224, 224);
    border-radius: 2px;
    outline: none;
    margin-bottom: 1em;
    width: 48%;
}
.name ,.event-name{
    margin-right: 1em;
}
#light-mode:checked ~ .container main .foam .textarea {
    background-color: var(--sidebar-bordercolor-light);
}
.textarea {
    background-color: var(--sidebar-bordercolor);
    padding: 0.3em 1em;
    border-radius: 2px;
    outline: none;
    width: 98.8%;
    margin-bottom: 0.7em;
}
#light-mode:checked ~ .container main .foam .submit-btn {
    color: rgb(24, 24, 24);
}
.submit-btn,.submit1-btn {
    padding: 0.4em 2em;
    border-radius: 3px;
    color: inherit;
    color: rgb(233, 233, 233);
    cursor: pointer;
    font-weight: bold;
    background-image: var(--linear-gradient);
}
.submit-btn:hover ,.submit1-btn:hover{
    transform: scale(1.05);
}
.label2 {
    position: absolute;
    top: 3em;
}
.season-name-list:hover {
    overflow: visible;
    transform: scale(1.1);
}
.foam1 {
    width: 100%;
    min-height: 10em;
    padding: 3em;
    margin-top: 2em;
    border: 3px solid var(--sidebar-bordercolor);
    border-radius: 1em;
    position: relative;
}
.label4 {
    position: absolute;
    top: 3em;
    
}
.label6 {
    position: absolute;
    top: 13.6em;
}
.input1 {
    background-color: var(--sidebar-bordercolor);
    padding: 0.3em 1em;
    color: rgb(224, 224, 224);
    border-radius: 2px;
    outline: none;
    margin-bottom: 1em;
    width: 48%;
}
.description {
    background-color: var(--sidebar-bordercolor);
    padding: 0.3em 1em;
    border-radius: 2px;
    outline: none;
    width: 98.8%;
    margin-bottom: 0.7em;
}
.file {
    position: absolute;
    top: 7em;
    right: 0em;
    border: 3px solid var(--sidebar-bordercolor);
    padding: 0.3em 1em;
    margin-right: 1em;
}
.custom-upload {
    position: absolute;
    top: 5em;
    right: 8em;
    z-index: 4;
    cursor: pointer;
    color: rgb(224, 224, 224);
}
.video-container {
    margin-top: 2em;
    width: 100%;
    height: 315px;

}
iframe {
    border-radius: 10px;
}
.image-container {
    width: 10px;
    height: 20px;
    color: gray;

}
select {

    outline: none;
}
select:hover {
    background-color: rgb(43, 43, 43);
}
#upload {
    top: 4.6em;
    right: 2.5em;
    position: absolute;
    height: 40px;
    background-image: var(--linear-gradient);
    width: 270px;
    color: transparent;
    cursor: pointer;
}
.upload-img {
    max-height: 50px;
    max-width: 60px;


}
.upload-img:hover {
    transform: scale(1);
}
.upload-img-container {
    background-color: var(--sidebar-bordercolor);
    min-height: 100px;
    position: absolute;
    top: 120px;
    right: 58px;
    min-width: 200px;
}
.message-img {
    position: absolute;
    top: 50px;
    right: 42px;
}